
/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Basic styles */
.theme-toggle {
    cursor: pointer;
    font-size: 24px;
    transition: color 0.3s;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

.moon, .sun {
    transition: opacity 0.3s ease;
}

/* Icon visibility */
body.light-mode .moon {
    opacity: 1;
}

body.light-mode .sun {
    opacity: 0;
}

body.dark-mode .moon {
    opacity: 0;
}

body.dark-mode .sun {
    opacity: 1;
}
/* hover on card */
.link-hover-effect {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #1d4ed8; /* Tailwind blue-700 */
    background: linear-gradient(120deg, #0f6ae0 0%, #0fe233 50%, #710eeb 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 1s ease, color 1s ease;
}

.link-hover-effect:hover {
    background-position: 0 0;
    color: #000; /* Optional: Change text color on hover */
}
/* animation */
.wavy {
    position: relative;
}

.wavy span {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 1.4em;
    text-transform: uppercase;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

.wavy2 span {
    position: relative;
    display: inline-block;
    color: #000000;
    font-size: 1.4em;
    text-transform: uppercase;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-15px);
    }

    40%,
    100% {
        transform: translateY(0px);
    }
}