
/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease
}


section {
    padding: 3rem 1rem;
    margin-bottom: 2rem;
}
img {
    max-width: 100%;
    height: auto;
}
a:hover, img:hover, .btn:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    z-index: 30px;
}
.menu button.active {
    background-color: #4caf50;
    color: white;
}
.radial-progress {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50%;
    background: conic-gradient(#4caf50 var(--value)%, #e0e0e0 0%);
}



body.dark {
    background-color: #1a202c; /* Dark background */
    color: #e2e8f0; /* Light text */
}

body.light {
    background-color: #f7fafc; /* Light background */
    color: #2d3748; /* Dark text */
}

/* hover on card */
.link-hover-effect {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #1d4ed8; /* Tailwind blue-700 */
    background: linear-gradient(120deg, #0f6ae0 0%, #0fe233 50%, #710eeb 100%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 1s ease, color 1s ease;
}

.link-hover-effect:hover {
    background-position: 0 0;
    color: #000; /* Optional: Change text color on hover */
}
/* animation */
.wavy {
    position: relative;
}

.wavy span {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 1.4em;
    text-transform: uppercase;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

.wavy2 span {
    position: relative;
    display: inline-block;
    color: #000000;
    font-size: 1.4em;
    text-transform: uppercase;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-15px);
    }

    40%,
    100% {
        transform: translateY(0px);
    }
}